// todo change?
//@import "~src/variables";
@import "src/_variables.scss";

:host {
  display: flex;
  justify-content: center;
  background: black;
  color: white;
}

.main-footer {
  font-size: $font-tiny;
}
