<div class="main-container">
  <div class="main-heading">George Merenzon</div>

  <div class="main-subheading">I am a final year <a routerLink="/about">Mathematics & Computer Science Student</a> at
    the Open University.
    <br>
    Looking for a Full or a Part Time job.
    <br>

    Eager to learn and become a valuable part of a development team.
    <br>
    Passionate about Clean Code and TDD.
    <br>
    <a routerLink="/portfolio">Have a look at my recent projects</a><br>
    <!--  </div>-->
    <!--  <div class="main-content">-->
    <!--    <div class="content__paragraph">-->
    <!--    </div>-->


    <!--    <div class="content__paragraph">-->
    <!--    </div>-->
  </div>
</div>
