<div class="main-container">
  <div class="main-heading">George Merenzon</div>

  <div class="main-subheading">I am a last year <a routerLink="/about">Mathematics & Computer Science Student</a> at the
    Open University.<br>
    <a routerLink="/portfolio">My recent projects</a>
  </div>
  <div class="main-content">
    <div class="content__paragraph">
      Eager to learn and become a valuable part of a team. <br>
      Passionate about Clean Code and TDD.
    </div>


    <!--    <div class="content__paragraph">-->
    <!--    </div>-->
  </div>
</div>
