/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500|Roboto+Slab:400,700&display=swap');
@import "_variables.scss";


* {
  -webkit-box-sizing: border-box;
  // Note: removes tap color on mobile display click
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0
}
